@font-face {
  font-family: 'JuliaMono';
  src: url("JuliaMono-Regular.woff2") format("woff2");
}

* {
  font-family: 'JuliaMono', monospace;
  font-variant-ligatures: none;
}

body {
  font-size: large;

  margin: 1ch;
  background: #000;
  color: #fff;

  word-wrap: normal;
  margin: 0 auto;
  max-width: min-content;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 3vw;
  }
}

a {
  text-decoration: none;
  color: #827fff;
}

marquee pre {
  margin: 0;
}

